name: Deploy Prompt Template

on:
  push:
    branches:
      - main

jobs:
  deploy-staging:
    name: Deploy to Staging
    runs-on: ubuntu-latest
    environment: staging

    steps:
      - name: Deploy to Staging
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            set -e

            cd /home/eduwhistle-prompt-template/htdocs/prompt-template.eduwhistle.com/prompt-template

            git config --global --add safe.directory "$(pwd)"

            echo "STAGING: before pull"
            git log -1 --oneline || true

            git fetch origin
            git checkout main
            git reset --hard origin/main

            npm --prefix client install
            npm --prefix client run build

            npm --prefix server install

            rm -rf client/public/*
            cp -r client/dist/* client/public/

            pm2 describe  prompt-template >/dev/null 2>&1 && \
            pm2 reload ecosystem.config.js --only  prompt-template --env staging --update-env || \
            pm2 start ecosystem.config.js --only  prompt-template --env staging

            pm2 save
